$main-blue: #00c0ea;
$accent-blue: #1fb5da;
$white: #ffffff;
$black: #000000;
$light-black: #333333;
$gray: #666666;
$pale-gray: #e5e5e5;
$muted-gray: #545454;
$light-gray: #c4c4c4;
$light-blue: #a7efff;
$light-blue2: #52e0ff;
$light-blue3: #21a0db;
$light-green: #aef4ac;
$color--skyblueDeep: #00abd0;
$color--skyblueLight: #37d7ff;
$color--skyblueMain: #00c0ea;

// rgba
$rgba--skyblueMuted: rgba(31, 181, 218, 0.4); // #1FB5DA 40%
$rgba--skybluePale: rgba(116, 216, 232, 0.3); // #74D8E8 30%
$rgba--skyblueCool: rgba(31, 181, 218, 0.4); //#1fb5da 40%
$rgba--white: rgba(255, 255, 255, 0.4); //#fff 40%
$rgba--mutedGray: rgba(84, 84, 84, 0.5); //#545454 50%
