@use "../global" as *;

.c-button {
  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    font-size: 12px;

    width: 100%;
    min-width: 163px;
    height: 100%;

    transition: all 0.4s;
    max-width: 355px;
    min-width: 150px;

    text-align: left;
  }
  & a:hover {
    text-decoration: none;
    // scale: 1.05;
  }
}
