@use "../global" as *;

.l-footer {
  width: 1920px;
  max-width: 100%;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: #49653a;
  text-align: center;
  color: #fff;
  &__logo {
    margin: 0 auto;
    width: 149px;
    margin-bottom: 20px;

    @include mq(md) {
      justify-self: start;
    }
  }

  &__menu {
    font-size: 14px;
  }

  &__nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    justify-items: start;
    column-gap: 50px;
    row-gap: 10px;
    padding-bottom: 50px;

    & a {
      white-space: nowrap;
    }

    @include mq(md) {
      grid-template-columns: repeat(5, auto);
      padding: 30px 0;
    }
  }

  &__adress {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.17em;
  }

  &__mail-adress {
    letter-spacing: 0.05em;
  }

  &__sns {
    padding: 50px 0 30px 0;
  }

  &__copyright {
    font-size: 12px;
  }
}
